@import "../../assets/main.scss";

.header{
    width: 95%;
    padding: 1% 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    .backbutton{
        border: none;
        background: $maincolor;
        color: white;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background: $secondecolor;
        }
    }

    h2{
        color: $maincolor;
        text-transform: capitalize;

        span{
            color: $secondecolor;
        }
    }

}