@import "../../assets/main.scss";

.box {
  padding: 2%;
  height: 78vh;
  width: 95%;
  margin: 0 auto;
  border-radius: 15px;
  background: $halfmain;
}

.bubble {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #000;
  box-shadow: 0 0 10px #000;
  animation: bubble-animation 1s infinite;
}
